[submodule ".docker/haystack"]
	path = .docker/haystack
	url = https://github.com/paper2code/haystack
[submodule ".docker/nboost"]
	path = .docker/nboost
	url = https://github.com/paper2code/nboost
[submodule ".docker/gpt2telegram"]
	path = .docker/gpt2telegram
	url = https://github.com/paper2code/GPT2-Telegram-Chatbot
[submodule ".docker/deeppavlov-chatbot"]
	path = .docker/deeppavlov-chatbot
	url = https://github.com/paper2code/deeppavlov-restaurants
[submodule ".docker/deeppavlov-dream-demos"]
	path = .docker/deeppavlov-dream-demos
	url = https://github.com/deepmipt/dp-dream-demos
[submodule ".docker/gpt2bot"]
	path = .docker/gpt2bot
	url = https://github.com/paper2code/gpt2bot
[submodule ".docker/rasa"]
	path = .docker/rasa
	url = https://github.com/paper2code/rasa
[submodule ".docker/diagrams2ai"]
	path = .docker/diagrams2ai
	url = https://github.com/paper2code/diagrams2ai
[submodule ".docker/rasa-demo"]
	path = .docker/rasa-demo
	url = https://github.com/paper2code/rasa-demo
[submodule ".docker/rasa-nlu-examples"]
	path = .docker/rasa-nlu-examples
	url = https://github.com/RasaHQ/rasa-nlu-examples
[submodule ".docker/rasa-x-demo"]
	path = .docker/rasa-x-demo
	url = https://github.com/RasaHQ/rasa-x-demo
[submodule ".docker/nanomsg-distributed-search"]
	path = .docker/nanomsg-distributed-search
	url = https://github.com/paper2code/nanomsg-distributed-search
[submodule ".docker/golang-nng-surveyor-pattern-demo"]
	path = .docker/golang-nng-surveyor-pattern-demo
	url = https://github.com/paper2code/golang-nng-surveyor-pattern-demo
[submodule ".docker/jina-ai-search-stories"]
	path = .docker/jina-ai-search-stories
	url = https://github.com/paper2code/jina_hack_2020_search_stories
[submodule ".docker/rasa-stocky-trading-chatbot"]
	path = .docker/rasa-stocky-trading-chatbot
	url = https://github.com/paper2code/stocky-trading-chatbot
[submodule ".docker/rasa-aya"]
	path = .docker/rasa-aya
	url = https://github.com/paper2code/rasa-aya
[submodule ".docker/rasa-chatbot"]
	path = .docker/rasa-chatbot
	url = https://github.com/paper2code/rasa-chatbot
[submodule ".docker/rasa-flask-mongodb"]
	path = .docker/rasa-flask-mongodb
	url = https://github.com/paper2code/rasa_docker_flask_mongodb
[submodule ".docker/rasa-ai-chatbot"]
	path = .docker/rasa-ai-chatbot
	url = https://github.com/paper2code/rasa-ai-chatbot
[submodule ".docker/bothub"]
	path = .docker/bothub
	url = https://github.com/paper2code/bothub
[submodule ".docker/bothub-nlp-rasa-utils"]
	path = .docker/bothub-nlp-rasa-utils
	url = https://github.com/paper2code/bothub-nlp-rasa-utils
[submodule ".docker/bothub-nlp"]
	path = .docker/bothub-nlp
	url = https://github.com/paper2code/bothub-nlp
[submodule ".docker/bothub-webapp"]
	path = .docker/bothub-webapp
	url = https://github.com/paper2code/bothub-webapp
[submodule ".docker/bothub-nlp-api"]
	path = .docker/bothub-nlp-api
	url = https://github.com/paper2code/bothub-nlp-api
[submodule ".docker/bothub-engine"]
	path = .docker/bothub-engine
	url = https://github.com/paper2code/bothub-engine
[submodule ".docker/jinai-examples"]
	path = .docker/jinai-examples
	url = https://github.com/paper2code/jinai-examples
[submodule ".docker/pytorch-cuda"]
	path = .docker/pytorch-cuda
	url = https://github.com/anibali/docker-pytorch
[submodule ".docker/rasa-financial-demo"]
	path = .docker/rasa-financial-demo
	url = https://github.com/paper2code/rasa-financial-demo
[submodule ".docker/rasa-helpdesk-assistant"]
	path = .docker/rasa-helpdesk-assistant
	url = https://github.com/paper2code/rasa-helpdesk-assistant
[submodule ".docker/rasa-x"]
	path = .docker/rasa-x
	url = https://github.com/paper2code/rasa-x
[submodule ".docker/rasa-kairon"]
	path = .docker/rasa-kairon
	url = https://github.com/paper2code/rasa-kairon
[submodule ".docker/golang-nng-poc"]
	path = .docker/golang-nng-poc
	url = https://github.com/snmed/nanomsg-poc
[submodule ".docker/rssbriefing-bart-lda"]
	path = .docker/rssbriefing-bart-lda
	url = https://github.com/paper2code/rssbriefing-bart-lda
[submodule ".docker/rasa-docker-local"]
	path = .docker/rasa-docker-local
	url = https://github.com/paper2code/rasa-docker-local
[submodule ".docker/deeppavlov-restaurants"]
	path = .docker/deeppavlov-restaurants
	url = https://github.com/paper2code/deeppavlov-restaurants
[submodule ".docker/deeppavlov-twitter"]
	path = .docker/deeppavlov-twitter
	url = https://github.com/Kristopher-Jung/twitterBotChallenge
[submodule ".docker/botfront"]
	path = .docker/botfront
	url = https://github.com/paper2code/botfront
[submodule ".docker/neuralqa"]
	path = .docker/neuralqa
	url = https://github.com/paper2code/neuralqa
