[submodule ".docker/haystack"]
	path = .docker/haystack
	url = https://github.com/paper2code/haystack
[submodule ".docker/nboost"]
	path = .docker/nboost
	url = https://github.com/paper2code/nboost
[submodule ".docker/gpt2telegram"]
	path = .docker/gpt2telegram
	url = https://github.com/paper2code/GPT2-Telegram-Chatbot
[submodule ".docker/deeppavlov-chatbot"]
	path = .docker/deeppavlov-chatbot
	url = https://github.com/paper2code/deeppavlov-restaurants
[submodule ".docker/deeppavlov-dream-demos"]
	path = .docker/deeppavlov-dream-demos
	url = https://github.com/deepmipt/dp-dream-demos
[submodule ".docker/gpt2bot"]
	path = .docker/gpt2bot
	url = https://github.com/paper2code/gpt2bot
